# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
.DS_Store

# VSCode
.vscode/

# Pycharm
.idea/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
dist/

# FIXME
pyquerytracker.egg-info
